body{
    margin: 0px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
/* universal padding class */
.uni-padding-1{
    padding: 0px 5%;
}
.uni-padding-2{
    padding: 0px 4%;
}
.uni-padding-3{
    padding: 0px 10%;
}
/* header styling start... */
#header-nav{
    display: flex;
    /* justify-content: space-around; */
    background-color: white;
    border-bottom: 1px solid rgb(227, 225, 225);
}
#header-nav li{
    display: inline-block;
}
.navbar-links {
    text-decoration: none; 
    padding-left: 60px;
    color: #db2b2b;
    font-weight: bold;
    font-size: 18px;
}
.navbar-links:hover{
    color: #ff0000;
}
#img-links{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
}
#right-links{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
}
.current-page{
    color: #ff0000;
}


/* poster styling start... */
#poster{
    background:  rgba(0, 0, 0, 0.5) url(../images/bg1.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-blend-mode: darken;
    height: 700px;
    color: white;
}
#poster h1{
    margin: 0px;
    font-size: 80px;
    padding-top: 5%;
    font-weight: bold;
}
#poster p{
    font-size: 40px;
    font-weight: bold;
}

/* section (dishes and information) */

#dishes-information h1{
    font-size: 35px;
    text-align: center;
    color: #db2b2b;
}
.images-3{
    width: 200px;
    height: 200px;
}
#info-images{
    display: flex;

}
.images-3-container{
    text-align: center;
    padding: 60px 90px;
}

/* featured images */
#featured-images{
    text-align: center;
}
#featured-images h1{
    color: #db2b2b;
}
#featured-images img{
    width: 600px;
}

/* login and register page styling start */

#login-container , #register-container{
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sec-50{
    width: 50%;
    text-align: center;
}
#login-img{
    width: 600px;
}
#register-img{
    height: 600px;
    width: 500px;
}
#login-heading , #register-heading{
    color: #db2b2b;
    font-size: 40px;
}
.login-register-input{
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.enter-input{
    background-color: whitesmoke;
    border: none;
    padding: 25px;
    border-radius: 5px;
}
#login-submit,#register-submit{
    background-color: #db2b2b;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
}
::placeholder{
    color: rgb(177, 169, 169);
}



/* footer  */
#imp-link{
    background-color: #db2b2b;
    color: white;
    overflow: auto;
}
.div33{
    width: 33.33%;
    float: left;
    padding: 25px 50px;
    box-sizing: border-box;
}
.div33 h3{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}
.footer-links , #copyright li{
    list-style-type: none;
    padding: 0px;
}
.footer-links li{
    padding-bottom: 8px;
}
.footer-links li a,#copyright li a{
    text-decoration: none ;
    color: white;
}
.footer-links li a:hover,#copyright li a:hover{
    color: rgb(138, 119, 119);
}
#div33-2{
    padding-left: 120px;
}
#div33-1{
    padding-left: 0px;
}
#div33-1 p{
    font-weight: bold;
    font-size: 25px;
}
/* cpoyright */
#copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(25, 84, 100);
    color: whitesmoke;
    padding: 0px;
    font-size: 16px;
}

