body{
    margin: 0px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
/* universal padding class */
.uni-padding-1{
    padding: 0px 5%;
}
.uni-padding-2{
    padding: 0px 4%;
}
.uni-padding-3{
    padding: 0px 10%;
}
/* header styling start... */
#header-nav{
    display: flex;
    /* justify-content: space-around; */
    background-color: white;
    border-bottom: 1px solid rgb(227, 225, 225);
}
#header-nav li{
    display: inline-block;
}
.navbar-links {
    text-decoration: none; 
    padding-left: 60px;
    color: #db2b2b;
    font-weight: bold;
    font-size: 18px;
}
.navbar-links:hover{
    color: #ff0000;
}
#img-links{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
}
#right-links{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
}
.current-page{
    color: #ff0000;
}

/* home page styling start */

   /* poster styling start... */
#home-poster{
    background:  rgba(0, 0, 0, 0.5) url(../images/home-images/bg1.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-blend-mode: darken;
    height: 700px;
    color: white;
}
#home-poster-heading{
    margin: 0px;
    font-size: 80px;
    padding-top: 5%;
    font-weight: bold;
}
#home-poster-text{
    font-size: 40px;
    /* font-weight: bold; */
}
#home-shef-account-remember p{
    font-size: 20px;
}
#home-shef-account-remember p a{
    text-decoration: none;
    color: rgb(187, 193, 179);
    font-weight: bold;
}

/* section (dishes and information) */

#dishes-information h1{
    font-size: 35px;
    text-align: center;
    color: #db2b2b;
}
.images-3{
    width: 200px;
    height: 200px;
}
#info-images{
    display: flex;

}
.images-3-container{
    text-align: center;
    padding: 60px 90px;
}

/* featured images */
#featured-images{
    text-align: center;
}
#featured-images h1{
    color: #db2b2b;
}
#featured-images img{
    width: 600px;
    padding: 10px;
}
/* home page styling end... */

/* login and register page styling start...*/

#login-container , #register-container{
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sec-50{
    width: 50%;
    text-align: center;
}
#sec-50-1{
    width: 45%;
    text-align: center;
}
#sec-50-2{
    width: 55%;
    text-align: center;
}
#register-address{
    resize: none;
    width: 44vw;
    height: 100px;
}
#login-img{
    width: 600px;
}
#register-img{
    height: 600px;
    width: 30vw;
}
#login-heading , #register-heading{
    color: #db2b2b;
    font-size: 40px;
    margin-top: 0px;
}
.login-register-input{
    width: 20vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
.enter-input{
    background-color: whitesmoke;
    border: none;
    padding: 25px;
    /* border-radius: 5px; */
}
#login-submit,#register-submit,#shef-register-submit{
    background-color: #db2b2b;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
}
::placeholder{
    color: rgb(177, 169, 169);
}
/* login register and repage styling end... */


/* shef page styling start... */
#shef-poster{
    background:  rgba(0, 0, 0, 0.5) url(../images/shef-images/bg2.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-blend-mode: darken;
    height: 700px;
    color: white;
    display: flex;
    justify-content: space-around;
}
#shef-poster-heading{
    margin-top: 15vh;
    font-size: 80px;
    padding-top: 5%;
}
#shef-poster-text{
    font-size: 40px;
    /* font-weight: bold; */
}
.shef-register-input{
    width: 19vw;
    margin: 11px 8px;
}
#shef-form{
    width: 50%;
}
#shef-form form{
    margin-top: 10vh;
    text-align: center;
}
#shef-form form textarea{
    resize: none;
    width: 42.5vw;
    height: 100px;
}
#check-terms{
    transform: scale(2);
    margin: 30px;
}
#check-label{
    font-size: 18px;
    font-weight: bold;
}
.check-terms-links{
    color: rgb(187, 193, 179);
    text-decoration: none;

}
#shef-form-submit{
    background-color: #db2b2b;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
}

/* shef page styling end... */

/* Inside Login Page styling start */
#IL-upper-strip{
    background-color: aqua;
    height: 200px;
}
.insidelogin-images-1{
    display: flex;
    justify-content: space-around;
}
.insidelogin-images-1 img{
    margin: 50px 0px;
    outline: 4px solid rgb(135, 9, 9);
}



/* footer  */
#imp-link{
    background-color: #db2b2b;
    color: white;
    overflow: auto;
}
.div33{
    width: 33.33%;
    float: left;
    padding: 25px 50px;
    box-sizing: border-box;
}
.div33 h3{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}
.footer-links , #copyright li{
    list-style-type: none;
    padding: 0px;
}
.footer-links li{
    padding-bottom: 8px;
}
.footer-links li a,#copyright li a{
    text-decoration: none ;
    color: white;
}
.footer-links li a:hover,#copyright li a:hover{
    color: rgb(138, 119, 119);
}
#div33-2{
    padding-left: 120px;
}
#div33-1{
    padding-left: 0px;
}
#div33-1 p{
    font-weight: bold;
    font-size: 25px;
}
/* cpoyright */
#copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(25, 84, 100);
    color: whitesmoke;
    padding: 0px;
    font-size: 16px;
}

